In [22]:
!pip install psycopg2
import pandas as pd
from sqlalchemy import create_engine
df=pd.read_csv("taxi_zone_lookup.csv")

Requirement already satisfied: psycopg2 in /opt/anaconda3/lib/python3.13/site-packages (2.9.10)

In [23]:
df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LocationID    265 non-null    int64
 1   Borough       264 non-null    object
 2   Zone          264 non-null    object
 3   service_zone  263 non-null    object
dtypes: int64(1), object(3)
memory usage: 8.4+ KB

In [25]:
df.describe()

       LocationID
count  265.000000
mean   133.000000
std     76.643112
min      1.000000
25%     67.000000
50%    133.000000
75%    199.000000
max    265.000000

In [26]:
df.columns

Index(['LocationID', 'Borough', 'Zone', 'service_zone'], dtype='object')

In [33]:
conn=create_engine('postgresql://root:root@localhost:5435/ny_taxi')

print(pd.io.sql.get_schema(df, name="taxi_zones"))

CREATE TABLE "taxi_zones" (
"LocationID" INTEGER,
  "Borough" TEXT,
  "Zone" TEXT,
  "service_zone" TEXT
)

In [34]:
df.head(n=0)

Empty DataFrame
Columns: [LocationID, Borough, Zone, service_zone]
Index: []

In [39]:
df.to_sql(name='taxi_zones', con=conn, if_exists="replace", index="False")

265

In [40]:
df.to_sql(name='taxi_zones', con=conn, if_exists="append", index="False")

265

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LocationID    265 non-null    int64
 1   Borough       264 non-null    object
 2   Zone          264 non-null    object
 3   service_zone  263 non-null    object
dtypes: int64(1), object(3)
memory usage: 8.4+ KB